<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947582911669-s1mhs33p60jqfkpj00f91m56930dbf16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947582911669-s1mhs33p60jqfkpj00f91m56930dbf16</string>
	<key>API_KEY</key>
	<string>AIzaSyAO5c-fRjUn9BDp0jFN7J_3Uq0XlkXaQFs</string>
	<key>GCM_SENDER_ID</key>
	<string>947582911669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecno.nachmeCus</string>
	<key>PROJECT_ID</key>
	<string>awarecivil</string>
	<key>STORAGE_BUCKET</key>
	<string>awarecivil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947582911669:ios:1c052b80f93110f2432afc</string>
</dict>
</plist>